.orderbook,.ask, .bid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  text-align: center;
}
.price, .size{
  border-bottom: 1px solid black;
}
.title{
  grid-column: 1/3;
}
.ask{
  grid-column: 1/2;
}
.bid{
  grid-column: 2/3;
}
